@import url(./anim_bg.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

:root {
  --bg-color: rgb(24, 24, 24);

  --circle-bg-gradient_v1: linear-gradient(90deg, rgb(36, 36, 36) 0%, rgb(23, 23, 23) 50.52%, rgb(19, 19, 19) 100%);

  --circle-bg-gradient_v2: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(23, 23, 23) 50.52%, rgb(19, 19, 19) 100%);

  --main-color: rgb(30, 30, 30);

  --input-color: rgb(41, 41, 41);

  --element: rgb(89, 89, 89);

  --active-element: rgb(93, 101, 239);

  --active-element-hover: rgb(107, 115, 255);

  --text-color: rgb(251, 252, 252);

  --text-color-sec: rgb(146, 146, 146);

  --error: rgb(168, 54, 54);

  --shadow: rgba(5, 1, 17, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

.main[data-theme='true'] {
  --bg-color: rgb(251, 252, 252);

  --circle-bg-gradient_v1: linear-gradient(90deg, rgb(237, 238, 255) 14.25%, rgb(245, 245, 255) 49.1%, rgb(255, 255, 255) 84.69%);

  --circle-bg-gradient_v2: linear-gradient(180deg, rgb(237, 238, 255) 14.25%, rgb(245, 245, 255) 49.1%, rgb(255, 255, 255) 84.69%);

  --main-color: rgb(255, 255, 255);

  --input-color: rgb(240, 240, 246);

  --element: rgb(190, 190, 204);

  --active-element: rgb(93, 101, 239);

  --active-element-hover: rgb(107, 115, 255);

  --text-color: rgb(67, 69, 98);

  --text-color-sec: rgb(149, 149, 177);

  --error: rgb(210, 39, 39);

  --shadow: rgba(196, 196, 196, 0.2);
}

.main {
  height: 100vh;
  width: 100%;
  font-family: 'Baloo 2', sans-serif;
  display: flex;
  overflow: hidden;
  background-color: var(--bg-color);
  position: relative;
  justify-content: center;
  align-items: center;
}

.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25rem;
  background-color: var(--main-color);
  color: var(--text-color);
  max-width: 600px;
  width: calc(100% - 40px);
  height: 700px;
  padding: 40px 60px 56px;
  box-shadow: 0px 4px 48px var(--shadow);
  box-sizing: border-box;
  gap: 40px;
}


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  width: 100%;
  height: 44px;
  /* margin-bottom: 40px; */
  cursor: pointer;

}

h1 {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 45px
}

.switch_theme {
  -webkit-appearance: none;
  width: 88px;
  height: 32px;
  outline: none;
  background-color: var(--input-color);
  border-radius: 20px;
  position: relative;
  background-image: url(../images/icon_light-theme_inactive.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 80%;
}

.switch_theme:checked {
  background-image: url(../images/icon_dark-theme_inactive.svg);
  background-position: 20%;
}

.switch_theme::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 24px;
  background-color: var(--active-element);
  background-image: url(../images/icon_dark-theme.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  border-radius: 16px;
  transition: .1s;
  top: 4px;
  left: 4px;
}

.switch_theme:hover::before {
  cursor: pointer;
  background-color: var(--active-element-hover);
}

.switch_theme:checked::before {
  background-image: url(../images/icon_light-theme.svg);
  left: 40px;
}

.create_new_task {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.input {
  box-sizing: border-box;
  background-color: var(--input-color);
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.error {
  border: 1px solid #A83636
}

.error_message {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 12px;
  color: #A83636;
  display: none;
}

/* .input:hover {
  box-shadow:0 0 2px 2px rgb(247, 247, 247);
} */

.input:focus {
  outline: none;
  border: 1px solid var(--active-element)
}

.btn_add-task {
  width: 92px;
  padding: 10px;
  border: none;
  border-radius: .5rem;
  background-color: var(--active-element);
  color: rgb(251, 252, 252);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn_add-task:hover {
  background-color: var(--active-element-hover);
}

.btn_add-task:active {
  box-shadow: inset 0 0 1px 1px var(--main-color);
}

.wrapper {
  max-width: 490px;
  width: 105%;
  padding-right: 10px;
  margin-right: -20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color);
  border-radius: 20px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--input-color);
  border-radius: 20px;
}

.patch {
  background-color: var(--input-color);
  max-width: 480px;
  width: 100%;
  height: 176px;
  border-radius: 20px;
  text-align: center;
  /* display: none; */
}


.patch_img {
  width: 100px;
  margin: 20px auto 16px;
}

.patch_text {
  text-transform: uppercase;
  cursor: default;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-sec);
}

.tasks {
  /* counter-reset: my-counter; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 480px;
  width: 100%;
}

.task {
  display: flex;
  gap: 10px;
  background-color: var(--input-color);
  border-radius: 8px;
  max-height: 44px;
  list-style: none;
  padding: 10px 13px 10px 8px;
  font-size: 14px;
  line-height: 22px;
  /* counter-increment: my-counter; */
}

.action {
  display: flex;
  gap: 4px;
  align-items: center;
}

.btn_drag {
  cursor: grab;
  min-width: 24px;
  min-height: 24px;
  background-color: var(--element);
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.41421 3.58579C9.78929 3.96086 10 4.46957 10 5C10 5.53043 9.78929 6.03914 9.41421 6.41421C9.03914 6.78929 8.53043 7 8 7C7.46957 7 6.96086 6.78929 6.58579 6.41421C6.21071 6.03914 6 5.53043 6 5C6 4.46957 6.21071 3.96086 6.58579 3.58579C6.96086 3.21071 7.46957 3 8 3C8.53043 3 9.03914 3.21071 9.41421 3.58579ZM9.41421 10.5858C9.78929 10.9609 10 11.4696 10 12C10 12.5304 9.78929 13.0391 9.41421 13.4142C9.03914 13.7893 8.53043 14 8 14C7.46957 14 6.96086 13.7893 6.58579 13.4142C6.21071 13.0391 6 12.5304 6 12C6 11.4696 6.21071 10.9609 6.58579 10.5858C6.96086 10.2107 7.46957 10 8 10C8.53043 10 9.03914 10.2107 9.41421 10.5858ZM9.41421 17.5858C9.78929 17.9609 10 18.4696 10 19C10 19.5304 9.78929 20.0391 9.41421 20.4142C9.03914 20.7893 8.53043 21 8 21C7.46957 21 6.96086 20.7893 6.58579 20.4142C6.21071 20.0391 6 19.5304 6 19C6 18.4696 6.21071 17.9609 6.58579 17.5858C6.96086 17.2107 7.46957 17 8 17C8.53043 17 9.03914 17.2107 9.41421 17.5858Z' fill='%23595959'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4142 3.58579C17.7893 3.96086 18 4.46957 18 5C18 5.53043 17.7893 6.03914 17.4142 6.41421C17.0391 6.78929 16.5304 7 16 7C15.4696 7 14.9609 6.78929 14.5858 6.41421C14.2107 6.03914 14 5.53043 14 5C14 4.46957 14.2107 3.96086 14.5858 3.58579C14.9609 3.21071 15.4696 3 16 3C16.5304 3 17.0391 3.21071 17.4142 3.58579ZM17.4142 10.5858C17.7893 10.9609 18 11.4696 18 12C18 12.5304 17.7893 13.0391 17.4142 13.4142C17.0391 13.7893 16.5304 14 16 14C15.4696 14 14.9609 13.7893 14.5858 13.4142C14.2107 13.0391 14 12.5304 14 12C14 11.4696 14.2107 10.9609 14.5858 10.5858C14.9609 10.2107 15.4696 10 16 10C16.5304 10 17.0391 10.2107 17.4142 10.5858ZM17.4142 17.5858C17.7893 17.9609 18 18.4696 18 19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21C15.4696 21 14.9609 20.7893 14.5858 20.4142C14.2107 20.0391 14 19.5304 14 19C14 18.4696 14.2107 17.9609 14.5858 17.5858C14.9609 17.2107 15.4696 17 16 17C16.5304 17 17.0391 17.2107 17.4142 17.5858Z' fill='%23595959'/%3E%3C/svg%3E%0A");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.41421 3.58579C9.78929 3.96086 10 4.46957 10 5C10 5.53043 9.78929 6.03914 9.41421 6.41421C9.03914 6.78929 8.53043 7 8 7C7.46957 7 6.96086 6.78929 6.58579 6.41421C6.21071 6.03914 6 5.53043 6 5C6 4.46957 6.21071 3.96086 6.58579 3.58579C6.96086 3.21071 7.46957 3 8 3C8.53043 3 9.03914 3.21071 9.41421 3.58579ZM9.41421 10.5858C9.78929 10.9609 10 11.4696 10 12C10 12.5304 9.78929 13.0391 9.41421 13.4142C9.03914 13.7893 8.53043 14 8 14C7.46957 14 6.96086 13.7893 6.58579 13.4142C6.21071 13.0391 6 12.5304 6 12C6 11.4696 6.21071 10.9609 6.58579 10.5858C6.96086 10.2107 7.46957 10 8 10C8.53043 10 9.03914 10.2107 9.41421 10.5858ZM9.41421 17.5858C9.78929 17.9609 10 18.4696 10 19C10 19.5304 9.78929 20.0391 9.41421 20.4142C9.03914 20.7893 8.53043 21 8 21C7.46957 21 6.96086 20.7893 6.58579 20.4142C6.21071 20.0391 6 19.5304 6 19C6 18.4696 6.21071 17.9609 6.58579 17.5858C6.96086 17.2107 7.46957 17 8 17C8.53043 17 9.03914 17.2107 9.41421 17.5858Z' fill='%23595959'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4142 3.58579C17.7893 3.96086 18 4.46957 18 5C18 5.53043 17.7893 6.03914 17.4142 6.41421C17.0391 6.78929 16.5304 7 16 7C15.4696 7 14.9609 6.78929 14.5858 6.41421C14.2107 6.03914 14 5.53043 14 5C14 4.46957 14.2107 3.96086 14.5858 3.58579C14.9609 3.21071 15.4696 3 16 3C16.5304 3 17.0391 3.21071 17.4142 3.58579ZM17.4142 10.5858C17.7893 10.9609 18 11.4696 18 12C18 12.5304 17.7893 13.0391 17.4142 13.4142C17.0391 13.7893 16.5304 14 16 14C15.4696 14 14.9609 13.7893 14.5858 13.4142C14.2107 13.0391 14 12.5304 14 12C14 11.4696 14.2107 10.9609 14.5858 10.5858C14.9609 10.2107 15.4696 10 16 10C16.5304 10 17.0391 10.2107 17.4142 10.5858ZM17.4142 17.5858C17.7893 17.9609 18 18.4696 18 19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21C15.4696 21 14.9609 20.7893 14.5858 20.4142C14.2107 20.0391 14 19.5304 14 19C14 18.4696 14.2107 17.9609 14.5858 17.5858C14.9609 17.2107 15.4696 17 16 17C16.5304 17 17.0391 17.2107 17.4142 17.5858Z' fill='%23595959'/%3E%3C/svg%3E%0A");
  mask-size: contain;
  mask-position: center;
}

.btn_task-done {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  outline: none;
  background: url(../images/icon_task.svg);
}

.btn_task-done:checked {
  background: url(../images/icon_task_done.svg);
}

.task_text {
  max-width: 364px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task_text__done {
  text-decoration: line-through;
  color: var(--text-color-sec);
}

.btn_task-del {
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  background-color: var(--element);
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94751 3.755C6.94751 3.22457 7.15822 2.71586 7.5333 2.34079C7.90837 1.96572 8.41708 1.755 8.94751 1.755H14.9475C15.4779 1.755 15.9867 1.96572 16.3617 2.34079C16.7368 2.71586 16.9475 3.22457 16.9475 3.755V5.755H20.9475C21.2127 5.755 21.4671 5.86036 21.6546 6.0479C21.8422 6.23543 21.9475 6.48979 21.9475 6.755C21.9475 7.02022 21.8422 7.27458 21.6546 7.46211C21.4671 7.64965 21.2127 7.755 20.9475 7.755H19.8785L19.0115 19.897C18.9756 20.4016 18.7498 20.8738 18.3796 21.2186C18.0094 21.5633 17.5224 21.755 17.0165 21.755H6.87751C6.37165 21.755 5.88458 21.5633 5.51439 21.2186C5.14421 20.8738 4.91843 20.4016 4.88251 19.897L4.01751 7.755H2.94751C2.68229 7.755 2.42794 7.64965 2.2404 7.46211C2.05287 7.27458 1.94751 7.02022 1.94751 6.755C1.94751 6.48979 2.05287 6.23543 2.2404 6.0479C2.42794 5.86036 2.68229 5.755 2.94751 5.755H6.94751V3.755ZM8.94751 5.755H14.9475V3.755H8.94751V5.755ZM6.02151 7.755L6.87851 19.755H17.0175L17.8745 7.755H6.02151ZM9.94751 9.755C10.2127 9.755 10.4671 9.86036 10.6546 10.0479C10.8422 10.2354 10.9475 10.4898 10.9475 10.755V16.755C10.9475 17.0202 10.8422 17.2746 10.6546 17.4621C10.4671 17.6496 10.2127 17.755 9.94751 17.755C9.68229 17.755 9.42794 17.6496 9.2404 17.4621C9.05287 17.2746 8.94751 17.0202 8.94751 16.755V10.755C8.94751 10.4898 9.05287 10.2354 9.2404 10.0479C9.42794 9.86036 9.68229 9.755 9.94751 9.755ZM13.9475 9.755C14.2127 9.755 14.4671 9.86036 14.6546 10.0479C14.8422 10.2354 14.9475 10.4898 14.9475 10.755V16.755C14.9475 17.0202 14.8422 17.2746 14.6546 17.4621C14.4671 17.6496 14.2127 17.755 13.9475 17.755C13.6823 17.755 13.4279 17.6496 13.2404 17.4621C13.0529 17.2746 12.9475 17.0202 12.9475 16.755V10.755C12.9475 10.4898 13.0529 10.2354 13.2404 10.0479C13.4279 9.86036 13.6823 9.755 13.9475 9.755Z' fill='%23595959'/%3E%3C/svg%3E%0A");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94751 3.755C6.94751 3.22457 7.15822 2.71586 7.5333 2.34079C7.90837 1.96572 8.41708 1.755 8.94751 1.755H14.9475C15.4779 1.755 15.9867 1.96572 16.3617 2.34079C16.7368 2.71586 16.9475 3.22457 16.9475 3.755V5.755H20.9475C21.2127 5.755 21.4671 5.86036 21.6546 6.0479C21.8422 6.23543 21.9475 6.48979 21.9475 6.755C21.9475 7.02022 21.8422 7.27458 21.6546 7.46211C21.4671 7.64965 21.2127 7.755 20.9475 7.755H19.8785L19.0115 19.897C18.9756 20.4016 18.7498 20.8738 18.3796 21.2186C18.0094 21.5633 17.5224 21.755 17.0165 21.755H6.87751C6.37165 21.755 5.88458 21.5633 5.51439 21.2186C5.14421 20.8738 4.91843 20.4016 4.88251 19.897L4.01751 7.755H2.94751C2.68229 7.755 2.42794 7.64965 2.2404 7.46211C2.05287 7.27458 1.94751 7.02022 1.94751 6.755C1.94751 6.48979 2.05287 6.23543 2.2404 6.0479C2.42794 5.86036 2.68229 5.755 2.94751 5.755H6.94751V3.755ZM8.94751 5.755H14.9475V3.755H8.94751V5.755ZM6.02151 7.755L6.87851 19.755H17.0175L17.8745 7.755H6.02151ZM9.94751 9.755C10.2127 9.755 10.4671 9.86036 10.6546 10.0479C10.8422 10.2354 10.9475 10.4898 10.9475 10.755V16.755C10.9475 17.0202 10.8422 17.2746 10.6546 17.4621C10.4671 17.6496 10.2127 17.755 9.94751 17.755C9.68229 17.755 9.42794 17.6496 9.2404 17.4621C9.05287 17.2746 8.94751 17.0202 8.94751 16.755V10.755C8.94751 10.4898 9.05287 10.2354 9.2404 10.0479C9.42794 9.86036 9.68229 9.755 9.94751 9.755ZM13.9475 9.755C14.2127 9.755 14.4671 9.86036 14.6546 10.0479C14.8422 10.2354 14.9475 10.4898 14.9475 10.755V16.755C14.9475 17.0202 14.8422 17.2746 14.6546 17.4621C14.4671 17.6496 14.2127 17.755 13.9475 17.755C13.6823 17.755 13.4279 17.6496 13.2404 17.4621C13.0529 17.2746 12.9475 17.0202 12.9475 16.755V10.755C12.9475 10.4898 13.0529 10.2354 13.2404 10.0479C13.4279 9.86036 13.6823 9.755 13.9475 9.755Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.ghost {
  opacity: 0;
}